.card-container {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 1rem;
    gap: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    width: 10rem;
}

.card-img-top {
    height: 210px;
    object-fit: cover;
}