.card-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 1rem;
  scrollbar-width: thin;
  scrollbar-color: #1f1f1f #343434;
}

.card {
  flex: 0 0 auto;
  white-space: normal;
  overflow: visible;
}

.card-img-top {
  height: 310px;
  object-fit: cover;
}

#btnGroupDrop1 {
  margin-right: 25px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: transparent !important;
}


/*******************************************************************************ESTRELLAS******************************************************************************************/

body {
  background: url('https://i.pinimg.com/originals/da/5c/80/da5c80450b91ab4da958fabbdcf707a4.gif') repeat;
  background-size: 100px 100px;
  background-position: 0 0;
  background-attachment: fixed;
  animation: moveBackground 130s linear infinite;
  overflow-x: hidden;
}

.navbar {
  background: url('https://i.pinimg.com/originals/da/5c/80/da5c80450b91ab4da958fabbdcf707a4.gif') repeat;
  background-size: 100px 100px;
  background-position: 0 0;
  background-attachment: fixed;
  animation: moveBackground 120s linear infinite;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

.card {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: black;
  border-style: solid;
  color: white;
}

#app {
  min-height: 100vh;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}